<h2>INFORMACION</h2>
<!--SE PUEDEN AGREGAR ICONOS-->
<div>
  <div class="form-group">
    <fieldset disabled="">
      <label class="control-label" for="disabledInput">Nombre:</label>
      <!--NOMBRE DE LA CENTRAL ELECTRICA-->
      <input class="form-control" id="disabledInput" type="text" placeholder="{{nombre}}" disabled="">
    </fieldset>
  </div>
  <div class="form-group">
    <fieldset disabled="">
      <label class="control-label" for="disabledInput">Estado:</label>
      <!--ESTADO DE LA CENTRAL ELECTRICA-->
      <input class="form-control" id="disabledInput" type="text" placeholder="{{estado}}" disabled="">
    </fieldset>
  </div>
  <div class="form-group">
    <fieldset disabled="">
      <label class="control-label" for="disabledInput">Vida Util:</label>
      <!--NOMBRE DE LA CENTRAL ELECTRICA-->
      <input class="form-control" id="disabledInput" type="text" placeholder="{{vidautil}}" disabled="">
    </fieldset>
  </div>
  <div class="form-group">
    <fieldset disabled="">
      <label class="control-label" for="disabledInput">Capacidad:</label>
      <!--NOMBRE DE LA CENTRAL ELECTRICA-->
      <input class="form-control" id="disabledInput" type="text" placeholder="{{capacidad}}" disabled="">
    </fieldset>
  </div>
</div>